---

---
<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
        <div class="flex gap-2">
            <a href="/">Home</a>
            <a href="/blog">Blog</a>
            <a href="/about">About</a>
        </div>
		<h1 class="text-xl font-semibold text-red-500">About Seppo</h1>
        <p>This is my first astro site...</p>
        <p>...at the moment i have duplicated the whole HTML stuff from index.astro into a new about.astro... 😳</p>
	</body>
</html>
