---
import TeaserItem from "@components/TeaserItem.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./posts/*.md");
---

<BaseLayout pageTitle="My Astro Learning Blog">
  <p>This is where I will post about my journey learning Astro.</p>
  <div class="flex justify-start">
    <ul>
      {
        allPosts.map((post) => (
          <TeaserItem url={post.url} title={post.frontmatter.title} />
        ))
      }
    </ul>
  </div>
</BaseLayout>
