---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Navigation />
    <h1 class="text-xl font-semibold text-red-500">Astro</h1>

    <Footer />
  </body>
</html>
