<button class="pr-5 sm:hidden hamburger">
  <span class="block w-10 h-1.5 mb-2.5 bg-secondary"></span>
  <span class="block w-10 h-1.5 mb-2.5 bg-secondary"></span>
  <span class="block w-10 h-1.5 mb-2.5 bg-secondary"></span>
</button>
