---
---

<div
  class="w-full top-20 left-6 bg-secondary dark:bg-primary hidden sm:ml-20 sm:block sm:static sm:w-auto sm:bg-none nav-links"
>
  <a
    href="/"
    class="block text-center py-2.5 text-xl font-bold uppercase hover:bg-secondary hover:dark:bg-primary focus:bg-secondary focus:dark:bg-primary dark:text-white sm:inline-block sm:py-2 sm:px-2.5"
    >Home</a
  >
  <a
    href="/blog"
    class="block text-center py-2.5 text-xl font-bold uppercase hover:bg-secondary hover:dark:bg-primary focus:bg-secondary focus:dark:bg-primary dark:text-white sm:inline-block sm:py-2 sm:px-2.5"
    >Blog</a
  >
  <a
    href="/tags"
    class="block text-center py-2.5 text-xl font-bold uppercase hover:bg-secondary hover:dark:bg-primary focus:bg-secondary focus:dark:bg-primary dark:text-white sm:inline-block sm:py-2 sm:px-2.5"
    >Posts by tag</a
  >
  <a
    href="/about"
    class="block text-center py-2.5 text-xl font-bold uppercase hover:bg-secondary hover:dark:bg-primary focus:bg-secondary focus:dark:bg-primary dark:text-white sm:inline-block sm:py-2 sm:px-2.5"
    >About</a
  >
</div>
